In [24]:
import pandas as pd
import os
import re

In [21]:
path = ('C:/Users/BIGNETWORK/Desktop/PFE/dataset/resaux scraper')
files = os.listdir(path)
files

['alg_telcom_2_2k.xlsx',
 'facebook (1).xlsx',
 'facebook (2).xlsx',
 'instagram (1).xlsx',
 'instagram (2).xlsx',
 'instagram (3).xlsx',
 'instagram (4).xlsx',
 'instagram (5).xlsx',
 'instagram (6).xlsx',
 'instagram (7).xlsx',
 'instagram (8).xlsx',
 'instagram.xlsx']

In [22]:
files_xls = [f for f in files if f[-4:] == 'xlsx']
files_xls

['alg_telcom_2_2k.xlsx',
 'facebook (1).xlsx',
 'facebook (2).xlsx',
 'instagram (1).xlsx',
 'instagram (2).xlsx',
 'instagram (3).xlsx',
 'instagram (4).xlsx',
 'instagram (5).xlsx',
 'instagram (6).xlsx',
 'instagram (7).xlsx',
 'instagram (8).xlsx',
 'instagram.xlsx']

In [23]:
df = pd.DataFrame()
for f in files_xls:
    print(f)
    data = pd.read_excel(f'C:/Users/BIGNETWORK/Desktop/PFE/dataset/resaux scraper/{f}')
    data.drop(data.index[0:0],inplace=True)
    df = df.append(data)

alg_telcom_2_2k.xlsx
facebook (1).xlsx

C:\Users\BIGNETWORK\AppData\Local\Temp\ipykernel_23664\1588672978.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
C:\Users\BIGNETWORK\AppData\Local\Temp\ipykernel_23664\1588672978.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
C:\Users\BIGNETWORK\AppData\Local\Temp\ipykernel_23664\1588672978.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
C:\Users\BIGNETWORK\AppData\Local\Temp\ipykernel_23664\1588672978.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
C:\Users\BIGNETWORK\AppData\Local\Temp\ipykernel_23664\1588672978.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
C:\Users\BIGNETWORK\AppData\Local\Temp\ipykernel_23664\1588672978.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)

facebook (2).xlsx
instagram (1).xlsx
instagram (2).xlsx
instagram (3).xlsx
instagram (4).xlsx
instagram (5).xlsx
instagram (6).xlsx
instagram (7).xlsx
instagram (8).xlsx
instagram.xlsx

C:\Users\BIGNETWORK\AppData\Local\Temp\ipykernel_23664\1588672978.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
C:\Users\BIGNETWORK\AppData\Local\Temp\ipykernel_23664\1588672978.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
C:\Users\BIGNETWORK\AppData\Local\Temp\ipykernel_23664\1588672978.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
C:\Users\BIGNETWORK\AppData\Local\Temp\ipykernel_23664\1588672978.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
C:\Users\BIGNETWORK\AppData\Local\Temp\ipykernel_23664\1588672978.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)
C:\Users\BIGNETWORK\AppData\Local\Temp\ipykernel_23664\1588672978.py:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data)

In [24]:
print(df)

                                              comments  class
0    باينة كتبتوها نهار السبت حتى اليوم باش تبارتاج...    NaN
1         لوكان ستنيتو حتى نهار الخميس خير و درتو بيان    NaN
2                       الزبون لا دخل له في البكالوريا    NaN
3    شركة.... تعجز عن وضع أجهزة تشويش بمراكز الإمتح...    NaN
4    دوماج عندي لافامي في الكونت هذا كون عبرتلكم عن...    NaN
..                                                 ...    ...
785                                                  🔥    NaN
786                                               ❤️❤️    NaN
787                                               ❤️❤️    NaN
788                         NChllh  b rebi ping yhbt 😂    NaN
789                                              ❤️❤️😍    NaN

[6834 rows x 2 columns]

In [25]:
df.to_excel("resaux_comments.xlsx")

In [26]:
df.sample(10)

                                               comments  class
372                                  انتوم تسرقو بكردي😂    NaN
107                                                   👎    NaN
37                جوائز مانات بوبجي 🤣🤣🤣🤣 ياخي تبهديلة 😂    NaN
423                                   الجيزي ياالسراقين    NaN
494                                 اسوء شبكة في العالم    NaN
283                        و تكون حتى 100 لي ثقيل ثقيل😉    NaN
252                                                   🤣    NaN
691           اريد توقيف الخط دون الذهب إلى  وكالة جيزي    NaN
1039  تجديد مختلف السرفرات الرسمية واشتراكات الiptv ...    NaN
2006  على الاقل ابعثوا رسائل الاعتذار....... وعوضوا ...    NaN

In [38]:
df0=pd.read_excel("C:/Users/BIGNETWORK/Desktop/PFE/dataset/project/git-one/datasets/resaux_comments.xlsx")
df1=pd.read_excel("C:/Users/BIGNETWORK/Desktop/PFE/dataset/project/git-one/datasets/hateonly_mehdi.xlsx")
df2=pd.read_excel("C:/Users/BIGNETWORK/Desktop/PFE/dataset/project/git-one/datasets/fb_comments.xlsx")
df3=pd.read_excel("C:/Users/BIGNETWORK/Desktop/PFE/dataset/project/git-one/datasets/hainer_ranim.xlsx")
df4=pd.read_excel("C:/Users/BIGNETWORK/Desktop/PFE/dataset/project/git-one/datasets/neutre_mehdi.xlsx")

In [39]:
df = pd.concat([df0, df1, df2, df3,df4], axis=0, ignore_index=True)

In [40]:
df

                                                comments  class
0      باينة كتبتوها نهار السبت حتى اليوم باش تبارتاج...    NaN
1           لوكان ستنيتو حتى نهار الخميس خير و درتو بيان    NaN
2                         الزبون لا دخل له في البكالوريا    NaN
3      شركة.... تعجز عن وضع أجهزة تشويش بمراكز الإمتح...    NaN
4      دوماج عندي لافامي في الكونت هذا كون عبرتلكم عن...    NaN
...                                                  ...    ...
10076  رجعولنا عرض 1500نتاع 40جيغا شهرين مشي شهر هكذا...    0.0
10077        انظروا إلى التعليقات يا دجيزي بفففففففففففف    0.0
10078  صح عيدك جيزي شوي اتهلى كونيكسيو ظعيفة وعروظ شو...    0.0
10079  عيدكم مبارك تقبل الله منا ومنكم صالح الأعمال يارب    0.0
10080                                          شوف ستوري    0.0

[10081 rows x 2 columns]

In [41]:
df = df.sample(frac=1).reset_index(drop=True)
df

                                                comments  class
0                                         ربحو على ظهرنا    NaN
1                             @venecia_daniels_4😍😍😍 look    0.0
2        على اقل امبعد تعطولنا اسبوع انترنت باطل للتعويض    NaN
3      سيشهد التاريخ ان الحمام الزاجل قام بدوره افضل ...    NaN
4                                              Mine jito    NaN
...                                                  ...    ...
10076                          كيفاش نحاول لجيزي بيناتنا    0.0
10077                     لي راه حاكم paramètres شكون ؟؟    NaN
10078  مكانتش عندهم الانترنت فقيرة اتصلات الجزائر لبا...    NaN
10079                                                NaN    NaN
10080             مخك خلوها عندكم سقمو غير ريزو بركات🐸🐸💩    NaN

[10081 rows x 2 columns]

In [42]:
df.to_excel("C:/Users/BIGNETWORK/Desktop/PFE/dataset/dataset.xlsx")

In [48]:
df=df.dropna(subset = ['comments'])

In [49]:
df['comments'].isna().sum()

0

* Suppresion des Tags, des URLs et les symboles de ponctuation

In [50]:
# Define a function to perform the text cleaning operations
def clean_text(text):
    text = re.sub(r'[^\w\s]', '', text)  # Remove punctuation marks
    text = re.sub(r'[@#&$]\w+', '', text)  # Remove special characters
    text = re.sub(r'\d+', '', text)  # Remove numbers
    text = re.sub(r'http\S+', '', text)  # Remove URLs
    return text

# Apply the clean_text function to the desired column(s) in the DataFrame
if df['comments'].dtype == 'object':
    df['comments_clean'] = df['comments'].apply(clean_text)

C:\Users\BIGNETWORK\AppData\Local\Temp\ipykernel_23916\3377891732.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['comments_clean'] = df['comments'].apply(clean_text)

In [51]:
df

,comments,class,comments_clean
0,ربحو على ظهرنا,NaN,ربحو على ظهرنا
1,@venecia_daniels_4😍😍😍 look,0.0,venecia_daniels_ look
2,على اقل امبعد تعطولنا اسبوع انترنت باطل للتعويض,NaN,على اقل امبعد تعطولنا اسبوع انترنت باطل للتعويض
3,سيشهد التاريخ ان الحمام الزاجل قام بدوره افضل ...,NaN,سيشهد التاريخ ان الحمام الزاجل قام بدوره افضل ...
4,Mine jito,NaN,Mine jito
...,...,...,...
10074,مرحبا،تفضل بطلبك نحن في الخدمة.نسرين من جازي 🙂,0.0,مرحباتفضل بطلبك نحن في الخدمةنسرين من جازي
10076,كيفاش نحاول لجيزي بيناتنا,0.0,كيفاش نحاول لجيزي بيناتنا
10077,لي راه حاكم paramètres شكون ؟؟,NaN,لي راه حاكم paramètres شكون
10078,مكانتش عندهم الانترنت فقيرة اتصلات الجزائر لبا...,NaN,مكانتش عندهم الانترنت فقيرة اتصلات الجزائر لبا...
10080,مخك خلوها عندكم سقمو غير ريزو بركات🐸🐸💩,NaN,مخك خلوها عندكم سقمو غير ريزو بركات

In [55]:
df['comments'].isna().sum()

0